Source: dansguardian
Section: unknown
Priority: extra
Maintainer: Guido De Rosa <guido.derosa@vemarsas.it>
Build-Depends: debhelper (>= 8.0.0), autotools-dev,
Standards-Version: 3.9.3
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/dansguardian.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/dansguardian.git;a=summary

Package: dansguardian
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
